
<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'homestyles/img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static 'homestyles/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'homestyles/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'homestyles/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'homestyles/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'homestyles/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'homestyles/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'homestyles/css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'homestyles/css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" href="{% static 'homestyles/css/ion.rangeSlider.skinFlat.css' %}" />
	<link rel="stylesheet" href="{% static 'homestyles/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'homestyles/css/main.css' %}">
</head>

<body>

    <!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box" style="margin-top:20px;">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{% url 'homepage' %}" ><img src="{% static 'homestyles/img/homee.png' %}" alt="" height="70px;"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item "><a class="nav-link" href="{% url 'homepage' %}">Home</a></li>

                                <li class="nav-item "><a class="nav-link" href="{% url 'aboutus' %}">About Us</a></li>

							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">CATEGORIES</a>
								<ul class="dropdown-menu">
									{% for i in cat %}
									<li class="nav-item"><a class="nav-link" href="{% url 'filtered_product' cat_name=i.Name %}">{{i.Name}}</a></li>
									{% endfor %}
								</ul>
							</li>


							<li class="nav-item"><a class="nav-link" href="{% url 'products' %}">Products</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
						</ul>

						<ul class="nav navbar-nav navbar-right" >
							<li class="nav-item"><a href="{% url 'cart_page' %}" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item"><a href="{% url 'wishlist_page' %}" class="cart"><span class="lnr lnr lnr-heart"></span></a></li>

							<li class="nav-item">
								<!-- Form for search functionality -->
								<form action="{% url 'search_products' %}" method="GET" style="display: inline;">
									<!-- Hidden search input that appears on icon click -->
									<input type="text" name="q" id="search-input" placeholder="Search..." style="display: none;">
									<!-- Search icon (clickable) -->
									<button type="button" id="search-icon-btn" class="search">
										<span class="lnr lnr-magnifier" id="search-icon1"></span>
									</button>
									<!-- Submit button that appears when input is visible -->
									<button type="submit" id="submit-search-btn" class="search" style="display: none;"></button>
								</form>
							</li>


							<li class="nav-item" style="margin-left:70px;">
								<a href="#" id="popupButton">
									<img src="{% static 'homestyles/img/admin.png' %}" style="margin-top:28px;height:18px;width:18px;">
								</a>
							</li>
							<!-- Popup Box -->
							<div id="popupBox" class="popup-box">
								<div class="popup-content">
									<span class="close-btn" id="closePopup">&times;</span>
									<p id="userName">Welcome {{request.session.username}}</p>
									<a href="{% url 'user_logout' %}">Logout</a>
									<a href="http://127.0.0.1:8000/Adminapp/admin_login_page/">Admin Login</a>
								</div>
							</div>


						</ul>
					</div>
				</div>
			</nav>
		</div>


	</header>
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>YOUR WISHLIST</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">wishlist</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                     <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{ d.Image.url }}" alt="" height="60px" width="60px;">
                                        </div>
                                        <div class="media-body">
                                            <p>{{ d.Product_Name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{ d.Price }}</h5>
                                </td>

                                <td class="close-td first-row">
                                    <a href="{% url 'delete_wishlist' dataid=d.id %}"><i class="ti-close"></i></a>
                                </td>

                            </tr>
                        {% endfor %}

                            <tr class="bottom_button">
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                               </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

    <!-- start footer Area -->
    <footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							At Homely Finds, we specialize in curating stylish and practical
							home essentials that transform your space into a personalized sanctuary of
							comfort and elegance.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="{% static 'homestyles/img/i1.jpg' %}" alt=""></li>
							<li><img src="{% static 'homestyles/img/i2.jpg' %}" alt=""></li>
							<li><img src="{% static 'homestyles/img/i3.jpg' %}" alt=""></li>
							<li><img src="{% static 'homestyles/img/i4.jpg' %}" alt=""></li>
							<li><img src="{% static 'homestyles/img/i5.jpg' %}" alt=""></li>
							<li><img src="{% static 'homestyles/img/i6.jpg' %}" alt=""></li>
							<li><img src="{% static 'homestyles/img/i7.jpg' %}" alt=""></li>
							<li><img src="{% static 'homestyles/img/i8.jpg' %}" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
<!--							<a href="#"><i class="fa fa-behance"></i></a>-->
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
 &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"> HomelyFinds</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
    <!-- End footer Area -->

    <script src="{% static 'homestyles/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'homestyles/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'homestyles/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'homestyles/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'homestyles/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'homestyles/js/nouislider.min.js' %}"></script>
	<script src="{% static 'homestyles/js/countdown.js' %}"></script>
	<script src="{% static 'homestyles/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'homestyles/js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'homestyles/js/gmaps.min.js' %}"></script>
	<script src="{% static 'homestyles/js/main.js' %}"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}

        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}', '', 'error');
            </script>
        {% elif i.tags == 'info' %}
            <script>
                swal('{{i}}', '', 'info');
            </script>
        {% else %}
            <script>
                swal('{{i}}', '', 'success');
            </script>

        {% endif %}
    {% endfor %}
{% endif %}

	<script>
document.addEventListener('DOMContentLoaded', function () {
    var popupButton = document.getElementById('popupButton');
    var popupBox = document.getElementById('popupBox');
    var closePopup = document.getElementById('closePopup');

    popupButton.addEventListener('click', function (event) {
        event.preventDefault();
        popupBox.style.display = 'block';
    });

    closePopup.addEventListener('click', function () {
        popupBox.style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target === popupBox) {
            popupBox.style.display = 'none';
        }
    });
});
</script>



<style>
.popup-box {
    display: none;
    position: fixed;
    top: 50px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 300px;
    background-color: #fff;
    border: 5px solid #ddd; /* Border around the box */
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Shadow effect */
    z-index: 1000;
    padding: 20px;
    /* Optional: Add padding to give space inside the box */
}
.popup-box a {
    text-decoration: none; /* Remove underline */
    color: black; /* Default color, change as needed */
    display: block; /* Make the link take the full width of the box */
    padding: 10px 0; /* Add padding for better spacing */
}

.popup-box a:hover {
    color: #ffba00; /* Change color on hover if needed */
    text-decoration:none;
}

/* Specific style for the username */
.popup-box .username {
    font-weight: bold;
    color: #007bff; /* Same color as the username */
}



.popup-content {
    position: relative;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

</style>
<script>
document.getElementById('search-icon-btn').addEventListener('click', function() {
    var searchInput = document.getElementById('search-input');
    var submitButton = document.getElementById('submit-search-btn');

    // Toggle the display of the search input
    if (searchInput.style.display === 'none' || searchInput.style.display === '') {
        searchInput.style.display = 'inline-block';  // Show the search input
        submitButton.style.display = 'inline-block'; // Show submit button
        searchInput.focus();  // Automatically focus the input for immediate typing
    } else {
        searchInput.style.display = 'none';  // Hide the search input
        submitButton.style.display = 'none'; // Hide submit button
    }
});
</script>

<style>
	/* Style the search form input */
#search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    width: 200px;  /* Adjust width as needed */
    display: none; /* Hidden by default */
}

/* Style the search button icon */
#search-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

/* Ensure the submit button follows the input field */
#submit-search-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Hidden by default */
}

</style>
</body>

</html>